.items-container {
  height: 75vh;
  padding: 20px;
  overflow: scroll;
  background-color: #f5e9c2;
  border-radius: 12px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.items-container::-webkit-scrollbar {
  display: none;
}
