.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0px;
  border-bottom: 1px solid var(--dark-color);
}

.weight-container {
  display: flex;
  flex-direction: row;
}

.description-input {
  flex-basis: 50%;
}
